body {
    background-color: black;
}

section1 {
    font-family: 'Courier New', Courier, monospace;
    color: darkblue;
    text-align: center;
}

section2 {
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-align: center;
}

section3 {
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-align: center;
}

nav {
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    text-align: center;
    
}

img {
    width: 500px;
    height: 500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.flex-container {
    display: flexbox;
    margin-top: 500px;
    color: aliceblue;
    z-index: 3;
 }

 .box {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    animation: moveAndColor 4s infinite alternate;
 }

 @keyframes moveAndColor {
    0% {
        left: 0;
        background-color: blue;
    }
    50% {
        left: 200px;
        background-color: green;
    }
    100% {
        left: 400px;
        background-color: red;
    }
 }